<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<mapper namespace="Usuario" >
    <insert id="insertarUsuario" useGeneratedKey="true" keyProperty="IDUSU" parameterType="cl.mybatis.pojos.Usuario" >
        insert into Usuario(NOMUSU,APEUSU,NIVUSU,PASUSU) values (#{NOMUSU},#{APEUSU},#{NIVUSU},#{PASUSU})
    </insert>
    <select id="getUsuarios" resultType="cl.mybatis.pojos.Usuario" >
        select * from Usuario
    </select>
</mapper>